<div class="container" style="margin-bottom: 15px">
    <heading-bcomponent [title]="'ng-bcomponents Demo'" [size]="1"></heading-bcomponent>
    <p>Visit the ng-bcomponents github repo and npm package pages:</p>
    <link-bcomponent [link]="'https://github.com/cpamp21/ng-bcomponents'" [text]="'ng-bcomponents github'"></link-bcomponent>
    <br/>
    <link-bcomponent [link]="'https://www.npmjs.com/package/ng-bcomponents'" [text]="'ng-bcomponents npm'"></link-bcomponent>
    <heading-bcomponent [title]="'Contents'" [size]="2"></heading-bcomponent>
    <ul style="list-style: none;">
        <li><strong>A</strong></li>
        <li><link-bcomponent [text]="'Alert'" [link]="'#alert'"></link-bcomponent></li>
        <li><strong>B</strong></li>
        <li><link-bcomponent [text]="'Badge'" [link]="'#badge'"></link-bcomponent></li>
        <li><link-bcomponent [text]="'Breadcrumb'" [link]="'#breadcrumb'"></link-bcomponent></li>
        <li><link-bcomponent [text]="'Button'" [link]="'#button'"></link-bcomponent></li>
        <li><strong>D</strong></li>
        <li><link-bcomponent [text]="'Dropdown'" [link]="'#dropdown'"></link-bcomponent></li>
        <li><strong>H</strong></li>
        <li><link-bcomponent [text]="'Heading'" [link]="'#heading'"></link-bcomponent></li>
        <li><strong>I</strong></li>
        <li><link-bcomponent [text]="'Input Group'" [link]="'#input-group'"></link-bcomponent></li>
        <li><strong>J</strong></li>
        <li><link-bcomponent [text]="'Jumbotron'" [link]="'#jumbotron'"></link-bcomponent></li>
        <li><strong>L</strong></li>
        <li><link-bcomponent [text]="'Label'" [link]="'#label'"></link-bcomponent></li>
        <li><link-bcomponent [text]="'Link'" [link]="'#link'"></link-bcomponent></li>
        <li><strong>M</strong></li>
        <li><link-bcomponent [text]="'Media'" [link]="'#media'"></link-bcomponent></li>
        <li><strong>P</strong></li>
        <li><link-bcomponent [text]="'Panel'" [link]="'#panel'"></link-bcomponent></li>
        <li><link-bcomponent [text]="'Progress Bar'" [link]="'#progressbar'"></link-bcomponent></li>
        <li><strong>T</strong></li>
        <li><link-bcomponent [text]="'Thumbnail'" [link]="'#thumbnail'"></link-bcomponent></li>
        <li><strong>W</strong></li>
        <li><link-bcomponent [text]="'Well'" [link]="'#well'"></link-bcomponent>
    </ul>

    <heading-bcomponent [size]="2" [title]="'BComponents'"></heading-bcomponent>

    <!--Alert-->
    <heading-bcomponent [id]="'alert'" [size]="3" [title]="'Alert'"></heading-bcomponent>
    <alert-bcomponent [text]="'<strong>WOW</strong> Much alert. So amaze.'" [type]="'danger'"></alert-bcomponent>
    <alert-bcomponent [text]="'Dismissible baby'" [type]="'default'" [dismissible]="true"></alert-bcomponent>

    <!--Badge-->
    <heading-bcomponent [id]="'badge'" [size]="3" [title]="'Badge'"></heading-bcomponent>
    <div><badge-bcomponent [value]="'Hello World'"></badge-bcomponent></div>
    <div><badge-bcomponent #badge [value]="3"></badge-bcomponent></div>
    <button-bcomponent [text]="'-'" [click]="badge.decrement" [type]="'danger'"></button-bcomponent>&nbsp;
    <button-bcomponent [text]="'+'" [click]="badge.increment" [type]="'success'"></button-bcomponent>

    <!--Breadcrumb-->
    <heading-bcomponent [id]="'breadcrumb'" [size]="3" [title]="'Breadcrumb'"></heading-bcomponent>
    <div><breadcrumb-bcomponent [items]="breadcrumbItems" [active]="'Amazing'"></breadcrumb-component></div>
    <div><breadcrumb-bcomponent [items]="breadcrumbItems"></breadcrumb-component></div>

    <!--Button-->
    <heading-bcomponent [id]="'button'" [size]="3" [title]="'Button'"></heading-bcomponent>
    <button-bcomponent [text]="'Click me baby'" [click]="btnClickDemo" [type]="'primary'"></button-bcomponent>

    <!--Dropdown -->
    <heading-bcomponent [id]="'dropdown'" [size]="3" [title]="'Dropdown'"></heading-bcomponent>
    <dropdown-bcomponent [title]="'My Dropdown'" [items]="dropdownItems"></dropdown-bcomponent>

    <!--Heading-->
    <heading-bcomponent [id]="'heading'" [size]="3" [title]="'Heading'"></heading-bcomponent>
    <heading-bcomponent [size]="4" [title]="'Heading within heading..'" [subtitle]="'Amazing'"></heading-bcomponent>

    <!--Input Group-->
    <heading-bcomponent [id]="'input-group'" [size]="3" [title]="'Input Group'"></heading-bcomponent>
    <p>Important Information (model): {{txtDemo.model}}</p>
    <input-group-bcomponent #txtDemo [placeholder]="'Wow Amazing (small)Placeholder'" [model]="txtModel" [size]="'sm'" [frontText]="'@'" [backButton]="btnBack"></input-group-bcomponent><br/>
    <input-group-bcomponent [placeholder]="'Wow, another(large) one!'" [model]="txtDemo.model" [size]="'lg'" [backText]="'.00'" [frontButton]="btnFront"></input-group-bcomponent><br/>
    <input-group-bcomponent [placeholder]="'Wow, another one!'" [model]="txtDemo.model" [frontText]="'@'"></input-group-bcomponent><br/>
    <input-group-bcomponent [placeholder]="'Wow, another one!'" [model]="txtDemo.model" [backText]="'.00'"></input-group-bcomponent>

    <!--Jumbotron-->
    <heading-bcomponent [id]="'jumbotron'" [size]="3" [title]="'Jumbotron'"></heading-bcomponent>
    <jumbotron-bcomponent 
        [classes]="'my-jumbotron-class'" 
        [title]="'Title'" 
        [subtitle]="'sub-title'" 
        [body]="'The body'">
    </jumbotron-bcomponent>

    <!--Label-->
    <heading-bcomponent [id]="'label'" [size]="3" [title]="'Label'"></heading-bcomponent>
    <label-bcomponent [text]="'Wow such label'" [type]="'info'"></label-bcomponent>
    <h2>Amazing <label-bcomponent [text]="'Great label'" [type]="'danger'"></label-bcomponent></h2>
    <label-bcomponent [text]="'No Bueno Label'" [type]=""></label-bcomponent>

    <!--Link-->
    <heading-bcomponent [id]="'link'" [size]="3" [title]="'Link'"></heading-bcomponent>
    <link-bcomponent [text]="'Wow much link'" [link]="'#'"></link-bcomponent>

    <!-- List Group -->
    <heading-bcomponent [id]="'list-group'" [size]="3" [title]="'List Group'"></heading-bcomponent>
    <list-group-bcomponent [items]="listGroup"></list-group-bcomponent>
    <list-group-bcomponent [items]="listGroupLinked" [linked]="true"></list-group-bcomponent>

    <!-- Media -->
    <heading-bcomponent [id]="'media'" [size]="3" [title]="'Media'"></heading-bcomponent>
    <media-bcomponent [src]="'/../images/lion-small.jpg'" [alt]="'Lion'" [heading]="'Ferocious Lion. Left-Top'" [body]="'<b>WOW</b> So fierce, much ferocious</b>'" [alignment]="alignmentFirst"></media-bcomponent>
    <media-bcomponent [src]="'/../images/bear-small.jpg'" [alt]="'Bear'" [heading]="'Ferocious Bear. Right-Bottom'" [body]="'<b>WOW</b> So fierce, much ferocious</b><br/>So<br/>Far<br/>Down<br/>Bottom<br/>Right'" [alignment]="alignmentSecond"></media-bcomponent>

    <!--Panel-->
    <heading-bcomponent [id]="'panel'" [size]="3" [title]="'Panel'"></heading-bcomponent>
    <panel-bcomponent [header]="'<h3>Title</h3>'" [body]="'Wow crazy amazing text in body. So cool.'" [footer]="'Micky 4 prez'" [type]="'warning'"></panel-bcomponent>
    <panel-bcomponent [body]="'No header :('" [footer]="'Footer'" [type]="'info'"></panel-bcomponent>
    <panel-bcomponent [header]="'Header'" [body]="'No footer :('" [type]="'danger'"></panel-bcomponent>

    <!--Progress Bar-->
    <heading-bcomponent [id]="'progressbar'" [size]="3" [title]="'Progress Bar'"></heading-bcomponent>
    <progressbar-bcomponent [value]="250" [minValue]="0" [maxValue]="1000" [display]="'%'" [displayPercent]="true" [striped]="true" [animated]="true" [type]="'info'"></progressbar-bcomponent>
    <progressbar-bcomponent [value]="682" [minValue]="0" [maxValue]="1000" [display]="''" [displayPercent]="false" [striped]="false" [type]="'danger'"></progressbar-bcomponent>

    <!-- Table -->
    <heading-bcomponent [id]="'table'" [size]="3" [title]="'Table'"></heading-bcomponent>
    <table-bcomponent [headers]="headers" [items]="rows"></table-bcomponent>
    <table-bcomponent [items]="objectTable"></table-bcomponent>

    <!-- Thumbnail -->
    <heading-bcomponent [id]="'thumbnail'" [size]="3" [title]="'Thumbnail'"></heading-bcomponent>
    <div class="row">
        <thumbnail-bcomponent [classes]="'col-md-2'" [styles]="'margin: 10px;'" [header]="'Lion'" [body]="'A lion.'" [src]="'/../images/lion.jpg'"></thumbnail-bcomponent>
        <thumbnail-bcomponent [classes]="'col-md-2'" [styles]="'margin: 10px;'" [header]="'Bear'" [body]="'A big bad bear.'" [src]="'/../images/bear.jpg'"></thumbnail-bcomponent>
    </div>

    <!-- Well -->
    <heading-bcomponent [id]="'well'" [size]="3" [title]="'Well'"></heading-bcomponent>
    <well-bcomponent [size]="'lg'" [text]="'Well well well...'"></well-bcomponent>

</div>
<div style="margin: 15px">
    <link-bcomponent [text]="'<h3><b>Top</b></h3>'" [link]="'#'" [styles]="'display: block;text-align: center;'"></link-bcomponent>
</div>