<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">ng-bcomponents</a>
            </li>
            <li><link-bcomponent [text]="'Alert'" [link]="'#alert'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Badge'" [link]="'#badge'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Breadcrumb'" [link]="'#breadcrumb'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Button'" [link]="'#button'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Dropdown'" [link]="'#dropdown'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Heading'" [link]="'#heading'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Input Group'" [link]="'#input-group'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Jumbotron'" [link]="'#jumbotron'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Label'" [link]="'#label'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Link'" [link]="'#link'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'List Group'" [link]="'#list-group'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Media'" [link]="'#media'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Panel'" [link]="'#panel'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Progress Bar'" [link]="'#progressbar'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Table'" [link]="'#table'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Thumbnail'" [link]="'#thumbnail'"></link-bcomponent></li>
            <li><link-bcomponent [text]="'Well'" [link]="'#well'"></link-bcomponent>
        </ul>
    </div>
    <div class="container col-md-1 col-sm-1">
        <button type="button" class="btn btn-default" id="menu-toggle" (click)="toggleMenu()" style="background-image:none;border:none;margin:10px;">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
            </svg>
        </button>
    </div>
    <div class="container col-md-10 col-sm-10" style="margin-bottom: 15px">
        <heading-bcomponent [title]="'ng-bcomponents Demo'" [size]="1"></heading-bcomponent>
        <p>Visit the ng-bcomponents github repo and npm package pages:</p>
        <a href="https://github.com/cpamp21/ng-bcomponents">
            <svg style="width:16px;height:16px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
            </svg> ng-bcomponents github
        </a>
        <br/>
        <a href="https://www.npmjs.com/package/ng-bcomponents">
            <svg style="width:16px;height:16px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 24 24">
                <path fill="#000000" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
            </svg> ng-bcomponents npm
        </a>

        <heading-bcomponent [size]="2" [title]="'BComponents'"></heading-bcomponent>

        <!--Alert-->
        <heading-bcomponent [id]="'alert'" [size]="3" [title]="'Alert'"></heading-bcomponent>
        <alert-bcomponent [text]="'<strong>WOW</strong> Much alert. So amaze.'" [type]="'danger'"></alert-bcomponent>
        <alert-bcomponent [text]="'Dismissible baby'" [type]="'default'" [dismissible]="true"></alert-bcomponent>

        <!--Badge-->
        <heading-bcomponent [id]="'badge'" [size]="3" [title]="'Badge'"></heading-bcomponent>
        <div><badge-bcomponent [value]="'Hello World'"></badge-bcomponent></div>
        <div><badge-bcomponent #badge [value]="3"></badge-bcomponent></div>
        <button-bcomponent [text]="'-'" [click]="badge.decrement" [type]="'danger'"></button-bcomponent>&nbsp;
        <button-bcomponent [text]="'+'" [click]="badge.increment" [type]="'success'"></button-bcomponent>

        <!--Breadcrumb-->
        <heading-bcomponent [id]="'breadcrumb'" [size]="3" [title]="'Breadcrumb'"></heading-bcomponent>
        <div><breadcrumb-bcomponent [items]="breadcrumbItems" [active]="'Amazing'"></breadcrumb-component></div>
        <div><breadcrumb-bcomponent [items]="breadcrumbItems"></breadcrumb-component></div>

        <!--Button-->
        <heading-bcomponent [id]="'button'" [size]="3" [title]="'Button'"></heading-bcomponent>
        <button-bcomponent [text]="'Click me baby'" [click]="btnClickDemo" [type]="'primary'"></button-bcomponent>

        <!--Dropdown -->
        <heading-bcomponent [id]="'dropdown'" [size]="3" [title]="'Dropdown'"></heading-bcomponent>
        <dropdown-bcomponent [title]="'My Dropdown'" [items]="dropdownItems"></dropdown-bcomponent>

        <!--Heading-->
        <heading-bcomponent [id]="'heading'" [size]="3" [title]="'Heading'"></heading-bcomponent>
        <heading-bcomponent [size]="4" [title]="'Heading within heading..'" [subtitle]="'Amazing'"></heading-bcomponent>

        <!--Input Group-->
        <heading-bcomponent [id]="'input-group'" [size]="3" [title]="'Input Group'"></heading-bcomponent>
        <p>Important Information (model): {{txtDemo.model}}</p>
        <input-group-bcomponent #txtDemo [placeholder]="'Wow Amazing (small)Placeholder'" [model]="txtModel" [size]="'sm'" [frontText]="'@'" [backButton]="btnBack"></input-group-bcomponent><br/>
        <input-group-bcomponent [placeholder]="'Wow, another(large) one!'" [model]="txtDemo.model" [size]="'lg'" [backText]="'.00'" [frontButton]="btnFront"></input-group-bcomponent><br/>
        <input-group-bcomponent [placeholder]="'Wow, another one!'" [model]="txtDemo.model" [frontText]="'@'"></input-group-bcomponent><br/>
        <input-group-bcomponent [placeholder]="'Wow, another one!'" [model]="txtDemo.model" [backText]="'.00'"></input-group-bcomponent>

        <!--Jumbotron-->
        <heading-bcomponent [id]="'jumbotron'" [size]="3" [title]="'Jumbotron'"></heading-bcomponent>
        <jumbotron-bcomponent 
            [classes]="'my-jumbotron-class'" 
            [title]="'Title'" 
            [subtitle]="'sub-title'" 
            [body]="'The body'">
        </jumbotron-bcomponent>

        <!--Label-->
        <heading-bcomponent [id]="'label'" [size]="3" [title]="'Label'"></heading-bcomponent>
        <label-bcomponent [text]="'Wow such label'" [type]="'info'"></label-bcomponent>
        <h2>Amazing <label-bcomponent [text]="'Great label'" [type]="'danger'"></label-bcomponent></h2>
        <label-bcomponent [text]="'No Bueno Label'" [type]=""></label-bcomponent>

        <!--Link-->
        <heading-bcomponent [id]="'link'" [size]="3" [title]="'Link'"></heading-bcomponent>
        <link-bcomponent [text]="'Wow much link'" [link]="'#'"></link-bcomponent>

        <!-- List Group -->
        <heading-bcomponent [id]="'list-group'" [size]="3" [title]="'List Group'"></heading-bcomponent>
        <list-group-bcomponent [items]="listGroup"></list-group-bcomponent>
        <list-group-bcomponent [items]="listGroupLinked" [linked]="true"></list-group-bcomponent>

        <!-- Media -->
        <heading-bcomponent [id]="'media'" [size]="3" [title]="'Media'"></heading-bcomponent>
        <media-bcomponent [src]="'/../images/lion-small.jpg'" [alt]="'Lion'" [heading]="'Ferocious Lion. Left-Top'" [body]="'<b>WOW</b> So fierce, much ferocious</b>'" [alignment]="alignmentFirst" [link]="'#media'"></media-bcomponent>
        <media-bcomponent [src]="'/../images/bear-small.jpg'" [alt]="'Bear'" [heading]="'Ferocious Bear. Right-Bottom'" [body]="'<b>WOW</b> So fierce, much ferocious</b><br/>So<br/>Far<br/>Down<br/>Bottom<br/>Right'" [alignment]="alignmentSecond"></media-bcomponent>

        <!--Panel-->
        <heading-bcomponent [id]="'panel'" [size]="3" [title]="'Panel'"></heading-bcomponent>
        <panel-bcomponent [header]="'<h3>Title</h3>'" [body]="'Wow crazy amazing text in body. So cool.'" [footer]="'Micky 4 prez'" [type]="'warning'"></panel-bcomponent>
        <panel-bcomponent [body]="'No header :('" [footer]="'Footer'" [type]="'info'"></panel-bcomponent>
        <panel-bcomponent [header]="'Header'" [body]="'No footer :('" [type]="'danger'"></panel-bcomponent>

        <!--Progress Bar-->
        <heading-bcomponent [id]="'progressbar'" [size]="3" [title]="'Progress Bar'"></heading-bcomponent>
        <progressbar-bcomponent [value]="250" [minValue]="0" [maxValue]="1000" [display]="'%'" [displayPercent]="true" [striped]="true" [animated]="true" [type]="'info'"></progressbar-bcomponent>
        <progressbar-bcomponent [value]="682" [minValue]="0" [maxValue]="1000" [display]="''" [displayPercent]="false" [striped]="false" [type]="'danger'"></progressbar-bcomponent>

        <!-- Table -->
        <heading-bcomponent [id]="'table'" [size]="3" [title]="'Table'"></heading-bcomponent>
        <table-bcomponent [headers]="headers" [items]="rows"></table-bcomponent>
        <table-bcomponent [items]="objectTable"></table-bcomponent>

        <!-- Thumbnail -->
        <heading-bcomponent [id]="'thumbnail'" [size]="3" [title]="'Thumbnail'"></heading-bcomponent>
        <div class="row">
            <thumbnail-bcomponent [classes]="'col-md-2'" [styles]="'margin: 10px;'" [header]="'Lion'" [body]="'A lion.'" [src]="'/../images/lion.jpg'"></thumbnail-bcomponent>
            <thumbnail-bcomponent [classes]="'col-md-2'" [styles]="'margin: 10px;'" [header]="'Bear'" [body]="'A big bad bear.'" [src]="'/../images/bear.jpg'"></thumbnail-bcomponent>
        </div>

        <!-- Well -->
        <heading-bcomponent [id]="'well'" [size]="3" [title]="'Well'"></heading-bcomponent>
        <well-bcomponent [size]="'lg'" [text]="'Well well well...'"></well-bcomponent>
        <div style="margin: 15px">
            <link-bcomponent [text]="'<h3><b>Top</b></h3>'" [link]="'#'" [styles]="'display: block;text-align: center;'"></link-bcomponent>
        </div>
    </div>
</div>